<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

<span>
	<% @contact_list.each do | contact| %>
		<%= contact.name %>
	<% end %>
</span>
		
			
	
</span>
	
</body>
</html>

